{% extends 'authsystem/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 bg-light p-4 rounded shadow">
    <h2 class="text-center mb-4">🔐 Forgot Password</h2>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label>Enter your registered email</label>
        <input type="email" name="email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-warning w-100">Send OTP</button>
    </form>
  </div>
</div>
{% endblock %}
