{% extends 'authsystem/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 bg-light p-4 rounded shadow">
    <h2 class="text-center mb-4">🔐 Set New Password</h2>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label>New Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-success w-100">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}
